<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\ControleProcessos.exe"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="DATABASE_URL" value="postgresql://neondb_owner:npg_EiQXFqf0bc2W@ep-blue-scene-apbsoate.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require" />
          <environmentVariable name="Jwt__Key" value="lxiZJ8edGBnkmKUc5Pywf0MszCI73gjqpWo2rauTLVh9SONX" />
          <environmentVariable name="Jwt__Issuer" value="ControleProcessos" />
          <environmentVariable name="Jwt__Audience" value="ControleProcessosUsers" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>